@model List<Car>

<div class="display-car-order">
    <div class="display-car-look">
        <span class="text-prop">@Model[0].Max_speed</span>
    </div>
    <div class="display-car-data">
        <span class="text-prop">=======================</span>
    </div>
</div>