@model Car

<div class="display-car-order">
    <div class="display-car-look">
        <span class="text-prop">Hallo</span>
    </div>
    <div class="display-car-data">
        <span class="text-prop">Halihalo</span>
    </div>
</div>