<h1 class="tesla-logo-header flex">
    <a class="tesla-logo-anchor" href="/home/index">
        <svg class="tesla-logo-svg flex" width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 342 35">
            <partial name="TeslaLogoPath" />
        </svg>
    </a>
</h1>

<ul class="primary-menu flex">
    <li class="primary-menu-list"><a class="primary-menu-anchor" href="/car/models"><span class="primary-menu-span">Model S</span></a></li>
    <li class="primary-menu-list"><a class="primary-menu-anchor" href="/car/model3"><span class="primary-menu-span">Model 3</span></a></li>
    <li class="primary-menu-list"><a class="primary-menu-anchor" href="/car/modelx"><span class="primary-menu-span">Model X</span></a></li>
    <li class="primary-menu-list"><a class="primary-menu-anchor" href="/car/modely"><span class="primary-menu-span">Model Y</span></a></li>
    <li class="primary-menu-list"><a class="primary-menu-anchor" href="/car/solarroof"><span class="primary-menu-span">Solar Roof</span></a></li>
    <li class="primary-menu-list"><a class="primary-menu-anchor" href="/car/solarpannel"><span class="primary-menu-span">Solar Panel</span></a></li>
</ul>

<ul class="secondary-menu flex">
    <li><a class="secondary-menu-anchor">Shop</a></li>
    <li><a class="secondary-menu-anchor" href="/account/login">Account</a></li>
    <li><a class="secondary-menu-anchor" onclick="toggleSideBar()">Menu</a></li>
</ul>