.primary-menu {
    display: none;
}
.primary-content {
    overflow-y: hidden;
}

.wrapper {
    position: static;
    margin-top: 4rem;
    padding: .5rem;   
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.logout-form{
    width: min-content;
    align-self: flex-end;
    padding: 1.5rem;
}

.logout-btn {
    width: 55px;
    aspect-ratio: 1/1;
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 1rem;
    background-image: url("../multimedia/Icons/logout.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    padding-left: 5px;
    background-color: white;
    box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.5);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.logout-btn:hover {
    background-size: 55%;
    animation: rotation 1000ms;
}

.logout-btn:focus{
    outline: none;
}

.car-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: scroll;
}

.card {
    position: relative;
    width: 400px;
    min-height: 100%;
    height: max-content;
    border-radius: 15px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    text-align: center;
    transform: scale(clamp(.75, .80, 1));
    margin-bottom: -25%;
    display: flex;
    flex-direction: column;
}

.card-image {
    width: 100%;
    object-fit: cover;
    transform: scale(105%);
    display: block;
}


.card-wrapper {
    position: relative;
    top: 0;
    width: 90%;
    align-self: center;
    padding-block: 2rem;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    grid-template-rows: min-content;
    gap: 10px;
    width: 100%;
    overflow: hidden;
    justify-items: center;
    padding-bottom: 2rem;
    align-items: center;
    row-gap: 0;
    column-gap: 0;
}

.model {
    font-size: 40px;
    font-weight: 900;   
    margin-bottom: 2rem;
}

.model.first {
    margin: 0;
}

.text-prop {
    width: max-content;
    font-size: 20px;
    font-weight: bold;
    margin-block: .25rem;
}

.prop {
    width: max-content;
    padding: .5rem;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.props {
    align-self: center;
    display: grid;
    grid-template-columns: .75fr .5fr;
    gap: 1rem;
    margin-bottom: 2rem;
}

.select-box {
    position: fixed;
    width: 250px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    padding-block: 1rem;
    padding-inline: 1.5rem;
    border-radius: 15px;
    z-index: 1000;
    background-color: white;
    margin-left: 4%;
    margin-top: 1%;
}

.select-box .option-container {
    opacity: 0;
    display: none
}

.select-box .option-container.active {
    opacity: 1;
    overflow-y: scroll;
    display: block;
}

.option-container {
    margin-top: 1rem;
}

.selected {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}


.select-box .option,
.selected {
    padding: 5%;
    cursor: pointer;
}

.select-box .option:hover {
    background:rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.select-box .option .radio {
    display: none;
}

.select-box label {
    cursor: pointer;
}

.option label {
    margin: 0;
}