body {
    color:red;
}

.display-car-data{
    align-self:center;
    align-items:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:fit-content;
    gap:3rem;
    align-self:center;
    overflow-x:auto;
    padding:1rem;
    position:absolute;
    margin: 0px;
    
    color: red;
    bottom:0;
    width:100%
}

.car-data{
    min-width:5px;
    min-height:10px;
    overflow-x:auto;
    overflow-y:hidden;
    display:flex;
    flex-direction:row;
    text-align:center;
    
}

.props{
    align-self:center;
    display:flex;
    gap:1rem;
    flex-direction:column;
    grid-template-columns: repeat(2, 1fr);
}

.text-prop{
    align-self:center;
    width:max-content;
    font-size:15px;
    font-weight:bold;
    margin-block:.1rem;
}

.prop{
    align-self:center;
    width:max-content;
    padding:1rem;
}




