body {
}

.display-car-order{
    position:absolute;
    width:100%;
    color:black;
    display:flex;
    flex-direction:column;

}

.display-car-look{
    width:70%;
    height:100%;
    left:0;
    overflow:hidden;
    position:fixed;
    display:flex;
    justify-content:center;
}

.display-car-details{
    width:30%;
    height:100%;
    overflow:auto;
    position:fixed;
    right:0;
}

.car-image {
    width: 100%;
    object-fit:contain;
    transform: scale(100%);
    display: block;
    
}

.text-prop {
    width: max-content;
    font-size: 20px;
    font-weight: bold;
    margin-block: .25rem;
}

.props {
    align-self: center;
    display:flex;
    width:100%;
    flex-direction:column;
    grid-template-columns: .75fr .5fr;
    gap: 1rem;
    margin-bottom: 2rem;
    justify-content:center;
    align-content:center;
    align-self:center;
}

.props-2 {
    align-self: center;
    display: flex;
    width: 100%;
    flex-direction: row;
    grid-template-columns: .75fr .5fr;
    gap: 1rem;
    margin-bottom: 2rem;
    justify-content: center;
    align-content: center;
    align-self: center;
}

.prop {
    width: max-content;
    padding: .5rem;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display:none;
    font-size:20px;
    font-weight:bold;
    
}

.display-props-data {
    min-width: 5px;
    width:90%;
    min-height: 5px;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    align-self:center;
    flex-direction: row;
    text-align: center;
}

.props-data {
    align-self: center;
    width:30%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
}

.prop-text-data {
    align-self: center;
    width: max-content;
    font-size: 25px;
    font-weight: bold;
    margin-block: .1rem;
}

.prop-descr-data {
    align-self: center;
    width: max-content;
    font-size: 15px;
    padding: .1rem;
}

.title-model{
    min-width:max-content;
    padding:5rem;
    font-weight:bold;
    font-size:250%;
}

.details-card {
    position: relative;
    min-width: max-content;
    width: 100%;
    min-height: 100%;
    height: max-content;
    border-radius: 15px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    text-align: center;
    transform: scale(clamp(.75, .80, 1));
    margin-bottom: -25%;
    display: flex;
    flex-direction: column;
}

.display-model-name{
    min-width:max-content;
    min-height:max-content;
    left:0;
    font-size:20px;
    padding:.5rem;
}

.display-model-price {
    min-width: max-content;
    min-height: max-content;
    font-size:20px;
    padding:.5rem;
    right: 0;
}

.btn {
    position: relative;
    width: 80%;
    min-height: max-content;
    height:50px;
    background-color: hsl(0 0% 100% / 0.2);
    margin-bottom: 7.5%;
    margin-inline: 1rem;
    border-radius: 50px;
    display: flex;
    align-self:center;
    transition: transform ease-out 350ms;
    border: 2px solid;
    backdrop-filter: blur(.5rem);
}

    .btn:hover {
        transform: scale(1.1);
    }

    .btn:focus {
        box-shadow: none;
    }

    .btn > p {
        position: relative;
        margin: 0;
        padding: 0;
    }

    .btn::after {
        content: '';
        width: 70%;
        height: 2px;
        background-color: black;
        z-index: 120;
        position: absolute;
        bottom: 15%;
        transform: scaleX(0);
        transition: transform ease-out 350ms;
    }

    .btn:hover::after {
        transform: scaleX(1);
    }

.btn-container {
    margin-top: 10%;
    position: relative;
    display: flex;
    margin-bottom: 5%;
}

.btn-content {
    position: relative;
    align-content: center;
}