:root{
    --input-letter-spacing: 1px;
    --input-width: 300px;
}

.sectionPart {
    position: absolute;
    width: var(--input-width, 250px);
    height: fit-content;
    text-align: center;
}

.login-page-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.change-anchor {
    text-decoration: underline;
}

.change-anchor:hover {
    cursor: pointer;
}

.primary-sidebar {
    display: none;
}

.signIn-container > form > input, .signUp-container > form > input {
    position: relative;
    width: var(--input-width, 250px);
    height: 50px;
    border-radius: 50px 50px 50px 50px;
    text-align: center;
    margin-block: 1rem;
    border: none;
    color: white;
}

.signIn-container > form > input::placeholder{
    color: white;
    opacity: 1;
    letter-spacing: var(--input-letter-spacing, 1px);
}

.signIn-container > form > input {
    background: #2b8867;
    transition: transform ease-out 250ms;
}

.signIn-container > form > input:nth-of-type(3) {
    background: #454d66;
    border: 0;
}

.signIn-container > form > input:nth-of-type(3):hover {
    transform: scale(1.1);
}

.signIn-container > p, .signUp-container > p {
    position: relative;
}

.signUp-container > form > input::placeholder {
    color: white;
    opacity: 1;
    letter-spacing: var(--input-letter-spacing, 1px);
}

.signUp-container > form > input {
    background: #c9184a;
    transition: transform ease-out 250ms;
    letter-spacing: 1px;
}

.signUp-container > form > input:focus, .signIn-container > form > input:focus {
    outline: 0;
    transform: scale(1.05);
}

.signUp-container > form > input:nth-of-type(4) {
    background: #6930C3;
    border: 0;
}

.signUp-container > form > input:nth-of-type(4):hover {
    transform: scale(1.1);
}

.signIn-container > p, .signUp-container > p {
    position: relative;
}

.signIn-container, .signUp-container {
    transition: transform ease-out 500ms, opacity ease-out 250ms;
    transition-delay: 500ms;
}

.background-circle {
    position: absolute;
    width: 125vw;
    height: 125vw;
    aspect-ratio: 1;
    border-radius: 50%;
    transition: transform ease-out 1s, background ease-out 1s;
    background: #f5487f;
    z-index: 999;
}

.background-circle[stateOfCircle="login"] {
    transform: translate(clamp(25%, 32.5%, 40%), clamp(10%, 12.5%, 20%));
    /*background: #F72585;*/
    background: #58b368;
}

.background-circle[stateOfCircle="register"] {
    transform: translate(clamp(-55%, -57.5%, -62.5%), clamp(-65%, -67.5%, -72.5%));
    background: #590d22;
}

.signIn-container[currentSiteState="register"] {
    opacity: 0;
    transform: translate(40vw, 20vh);
}

.signIn-container[currentSiteState="login"] {
    transform: translate(15vw, 20vh);
    opacity: 1;
}

.signUp-container[currentSiteState="register"] {
    transform: translate(clamp(72.5vw, 80vw, 75vw), 40vh);
    opacity: 1;
}

.signUp-container[currentSiteState="login"] {
    transform: translate(40vw, 40vh);
    opacity: 0;
}

.error-message{
    color: red;
    font-weight: 900;
}

@media screen and (max-width: 1500px){
    .signUp-container[currentSiteState="register"] {
        transform: translate(clamp(50vw, 60vw, 70vw), 40vh);
    }

    .background-circle[stateOfCircle="login"] {
        transform: translate(clamp(20%, 30%, 40%), clamp(15%, 20%, 25%));
        /*background: #F72585;*/
        background: #58b368;
    }

    .background-circle[stateOfCircle="register"] {
        transform: translate(clamp(-50%, -560%, -65%), clamp(-60%, -65%, -70%));
        background: #590d22;
    }
}

@media screen and (max-width: 1100px) and (min-height: 600px) {

    .background-circle {
        transition: transform ease-out 1.25s,
            background ease-out 1.25s;
    }

    .background-circle[stateOfCircle="login"] {
        transform: translate(0%, -75%);
        /*background: #F72585;*/
        background: #58b368;
    }

    .background-circle[stateOfCircle="register"] {
        transform: translate(0%, 75vh);
        background: #590d22;
    }
    
    .login-page-container {
        display: flex;
        justify-content: center;
    }

    .signIn-container {
        background: white;
        transition: transform ease-out 500ms 500ms, 
            opacity linear 0ms 500ms, 
            color linear 0ms 500ms;
    }

    .signUp-container {
        background: white;
        transition: transform ease-out 500ms 500ms,
            opacity linear 0ms 500ms,
            color linear 0ms 500ms;
    }

        .signIn-container[currentSiteState="login"] {
            transform: translateY(75%);
            opacity: 1;
            z-index: 500;
        }

        .signIn-container[currentSiteState="register"] {
            color: white;
            transform: translateY(50%);
            opacity: 0;
            z-index: -500;
        }

        .signUp-container[currentSiteState="register"] {
            transform: translateY(20%);
            opacity: 1;
            z-index: 500;
        }

        .signUp-container[currentSiteState="login"] {
            color: white;
            transform: translateY(50%);
            opacity: 0;
            z-index: -500;
        }
}

@media screen and (max-width: 1100px) and (max-height: 600px) {

    .background-circle {
        transition: transform ease-out 1.25s, background ease-out 1.25s;
    }

    .background-circle[stateOfCircle="login"] {
        transform: translate(0%, -75%);
        /*background: #F72585;*/
        background: #58b368;
    }

    .background-circle[stateOfCircle="register"] {
        transform: translate(0%, 75vh);
        background: #590d22;
    }

    .login-page-container {
        display: flex;
        justify-content: center;
    }

    .signIn-container {
        background: white;
        transition: transform ease-out 500ms 500ms, opacity linear 0ms 500ms, color linear 0ms 500ms;
    }

    .signUp-container {
        background: white;
        transition: transform ease-out 650ms 500ms, opacity linear 0ms 500ms, color linear 0ms 500ms;
    }

    .signIn-container[currentSiteState="login"] {
        transform: translateY(50%);
        opacity: 1;
        z-index: 500;
    }

    .signIn-container[currentSiteState="register"] {
        color: white;
        transform: translateY(30%);
        opacity: 0;
        z-index: -500;
    }

    .signUp-container[currentSiteState="register"] {
        transform: translateY(10%);
        opacity: 1;
        z-index: 500;
    }

    .signUp-container[currentSiteState="login"] {
        color: white;
        transform: translateY(35%);
        opacity: 0;
        z-index: -500;
    }
}

@media screen and (max-width: 1100px) and (min-height: 1250px) {

    .background-circle {
        transition: transform ease-out 1.25s, background ease-out 1.25s;
    }

    .background-circle[stateOfCircle="login"] {
        transform: translate(0%, -75%);
        /*background: #F72585;*/
        background: #58b368;
    }

    .background-circle[stateOfCircle="register"] {
        transform: translate(0%, 75vh);
        background: #590d22;
    }

    .login-page-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .signIn-container {
        background: white;
        transition: transform ease-out 650ms 500ms, opacity linear 0ms 500ms, color linear 0ms 500ms;
    }

    .signUp-container {
        background: white;
        transition: transform ease-out 650ms 500ms, opacity linear 0ms 500ms, color linear 0ms 500ms;
    }

    .signIn-container[currentSiteState="login"] {
        transform: translateY(0);
        opacity: 1;
        z-index: 500;
    }

    .signIn-container[currentSiteState="register"] {
        color: white;
        transform: translateY(100%);
        opacity: 0;
        z-index: -500;
    }

    .signUp-container[currentSiteState="register"] {
        transform: translateY(0);
        opacity: 1;
        z-index: 500;
    }

    .signUp-container[currentSiteState="login"] {
        color: white;
        transform: translateY(-100%);
        opacity: 0;
        z-index: -500;
    }
}

@media screen and (max-width: 1100px) and (min-height: 500px) and (max-height: 600px) {

    .background-circle {
        transition: transform ease-out 1.25s, background ease-out 1.25s;
    }

    .background-circle[stateOfCircle="login"] {
        transform: translate(0%, -65%);
        /*background: #F72585;*/
        background: #58b368;
    }

    .background-circle[stateOfCircle="register"] {
        transform: translate(0%, 140vh);
        background: #590d22;
    }

    .login-page-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .signIn-container {
        background: white;
        transition: transform ease-out 650ms 500ms, opacity linear 0ms 500ms, color linear 0ms 500ms;
    }

    .signUp-container {
        background: white;
        transition: transform ease-out 650ms 500ms, opacity linear 0ms 500ms, color linear 0ms 500ms;
    }

    .signIn-container[currentSiteState="login"] {
        transform: translateY(0);
        opacity: 1;
        z-index: 500;
    }

    .signIn-container[currentSiteState="register"] {
        color: white;
        transform: translateY(100%);
        opacity: 0;
        z-index: -500;
    }

    .signUp-container[currentSiteState="register"] {
        transform: translateY(0);
        opacity: 1;
        z-index: 500;
    }

    .signUp-container[currentSiteState="login"] {
        color: white;
        transform: translateY(-100%);
        opacity: 0;
        z-index: -500;
    }
}