@model List<Car>

<h1>Please buy you idiot</h1>
@foreach(Car car in Model) {
<span>car.Model</span>
}

<link rel="stylesheet" href="~/css/customCarOrder.css" />

<partial name="customCarOrder" model="Model" /> 